@model ELRunning.Models.ActivityViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Overview</h1>

<h3>Goal</h3>
<h4>
    @Model.Event.Distance @Model.Event.EventType.UnitType of @Model.Event.EventType.TypeName
</h4>

<div>
    <hr />
    <dl class="row">
        <dd>@Model.Event.EventName</dd>
        <dt></dt>
    </dl>
</div>

<h3>Top 10</h3>
@foreach (EventTotal et in Model.Totals.OrderByDescending( x => x.TotalUnits))
{
<div>@et.TotalUnits@Model.Event.EventType.UnitType @et.Duration @et.Email</div>
}

<div>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
