@model IEnumerable<ELRunning.Models.ActivityEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<p>
    <a asp-action="Index" asp-route-ViewType="PREV" class="btn btn-primary">Past Events</a>
    @*<a asp-action="Index" asp-route-id="MINE" class="btn btn-primary">My Events</a>*@
    <a asp-action="Index" asp-route-ViewType="CURR" class="btn btn-primary">Current Events</a>
    <a asp-action="Index" asp-route-ViewType="FUTR" class="btn btn-primary">Coming Events</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if ((DateTime.Now > item.StartDate) & (DateTime.Now < item.EndDate))
                {
                    <a asp-action="LogActivity" asp-route-ActivityEventID="@item.ActivityEventID" class="btn btn-primary">Log Activity</a>
                }
                <a asp-action="Details" asp-route-id="@item.ActivityEventID" class="btn btn-dark">View</a>
            </td>
        </tr>
}
    </tbody>
</table>
