@model ELRunning.Models.ActivityEvent

@{
    ViewData["Title"] = "LogActivity";
}

<h1>Log Activity</h1>

<div>
    <h4>Activity Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Distance) @Model.EventType.UnitType
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-3">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <dl class="row">

        @{ var userLogs = Model.Logs.Where(x => x.User.UserName == User.Identity.Name); }
        @if (userLogs.Count() > 0)
        {
            <dt class="col-sm-3">
                Time of Log
            </dt>
            <dt class="col-sm-9">
                Distance
            </dt>
            <dt class="col-sm-9">
                Duration
            </dt>


            @foreach (var log in userLogs)
            {
                if (log.User.UserName == User.Identity.Name)
                {
                    <dd class="col-sm-3">
                        @log.TimeLogged
                    </dd>
                    <dd class="col-sm-9">
                        @log.Units @Model.EventType.UnitType
                    </dd>
                    <dd class="col-sm-9">
                        @log.Duration
                    </dd>
                }
            }
        }

        <dt class="col-sm-3">
            Total Distance Logged
        </dt>
        <dd class="col-sm-9">
            @userLogs.Sum(x => x.Units) @Model.EventType.UnitType
        </dd>
    </dl>

</div>

<form asp-action="LogActivity">
    <div>
        <label class="col-sm-3 col-form-label">Distance (@Model.EventType.UnitType)</label>
        <input name="distance" id="distance" class="form-control col-sm-3" />
        <input asp-for="ActivityEventID" type="hidden" class="form-control" />
    </div>

    <div class="row">
        <label class="col-sm-12 col-form-label">Duration (HH : MM : SS : MS)</label>
        @*[DisplayFormat(DataFormatString = "{HH:mm:ss:ms}")]*@
        <input name="hours" id="hours" value="0" class="form-control col-sm-1" />:
        <input name="minutes" id="minutes" value="0" class="form-control col-sm-1" />:
        <input name="seconds" id="seconds" value="0" class="form-control col-sm-1" />:
        <input name="mseconds" id="mseconds" value="0" class="form-control col-sm-1" />
    </div>

    <div>
        <div class="form-group pt-2">
            <input type="submit" value="Log" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
</form>

